<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/graham-riches/index.json" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="graham-riches" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>